body { background: #d07847; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 37px; display: flex; }
.block-cart-0 { color: #4c7f0f; font-size: 16px; margin-bottom: 5px; }
.block-database-1 { color: #9c9434; font-size: 12px; margin-bottom: 5px; }
.block-auth-2 { color: #5c4c7e; font-size: 20px; margin-bottom: 5px; }
.block-user-3 { color: #841e3e; font-size: 21px; margin-bottom: 5px; }
.block-notify-4 { color: #8d32a2; font-size: 15px; margin-bottom: 5px; }